/* put your own styles to customize and override the theme */

.bg-warning {
    background-color: #f5ca99 !important;
}

.bg-success {
    background-color: #00c9a7 !important;
}

.legend-indicator {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #bdc5d1;
    border-radius: 50%;
    margin-right: 0.4375rem;
}


/* success soft */

.badge-soft-success {
    color: #00c9a7;
    background-color: rgba(0, 201, 167, 0.1);
}

a.badge-soft-success:hover,
a.badge-soft-success:focus {
    color: #fff;
    background-color: #00c9a7;
}


/* warning soft */

.badge-soft-warning {
    color: #f5ca99;
    background-color: rgba(245, 202, 153, 0.1);
}

a.badge-soft-warning:hover,
a.badge-soft-warning:focus {
    color: #1e2022;
    background-color: #f5ca99;
}


/* danger soft */

.badge-soft-danger {
    color: #ed4c78;
    background-color: rgba(237, 76, 120, 0.1);
}

a.badge-soft-danger:hover,
a.badge-soft-danger:focus {
    color: #fff;
    background-color: #ed4c78;
}

.badge {
    display: inline-block;
    padding: 0.275rem 0.5em;
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.3125rem;
    transition: all 0.2s ease-in-out;
}
